<div id="demo" *ngIf='movie' class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../assets/images/welcome/aksar.jpg" alt="Aksar" style="height:50%;width:100%;">
    </div>
    <div class="carousel-item">
      <img src="../assets/images/welcome/BladeRunner.jpg" alt="Blade Runner" style="height:50%;width:100%;">
    </div>
    <div class="carousel-item">
      <img src="../assets/images/welcome/itefaq.jpg" alt="Itefaq" style="height:50%;width:100%;">
    </div>
    <div class="carousel-item">
      <img src="../assets/images/welcome/justice.jpg" alt="Justice League" style="height:50%;width:100%;">
    </div>
    <div class="carousel-item">
      <img src="../assets/images/welcome/kingsman.jpg" alt="Kingsman" style="height:50%;width:100%;">
    </div>
    <div class="carousel-item">
      <img src="../assets/images/welcome/thnd.jpg" alt="The House Next Door" style="height:50%;width:100%;">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
  </div>



  <div id="demo" *ngIf="tvShow" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/images/tv series/element.jpg" alt="Element" style="height:50%;width:100%;">
      </div>
      <div class="carousel-item">
        <img src="../assets/images/tv series/lost.jpg" alt="Lost" style="height:50%;width:100%;">
      </div>
      <div class="carousel-item">
        <img src="../assets/images/tv series/mahabharat.jpg" alt="Mahabharat" style="height:50%;width:100%;">
      </div>
      <div class="carousel-item">
        <img src="../assets/images/tv series/newGirl.jpg" alt="New Girl" style="height:50%;width:100%;">
      </div>
      <div class="carousel-item">
        <img src="../assets/images/tv series/skr.jpg" alt="Siya Ke Ram" style="height:50%;width:100%;">
      </div>
      <div class="carousel-item">
        <img src="../assets/images/tv series/voice.jpg" alt="Voice of India" style="height:50%;width:100%;">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
    </div>
