
<div class="container" style="margin-bottom:3%;">
    <div  class="row">
		<div  class="col-md-12">

			<div  class="tabbable-panel">
				<div  class="tabbable-line">
					<ul class="nav nav-tabs ">
						<li class="active">
							<a href="#tab_default_1" data-toggle="tab">
							Movie </a>
						</li>
						<li>
							<a href="#tab_default_2" data-toggle="tab">
							Tv Show </a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tab_default_1">

              <form [formGroup]="movieForm" class="form-horizontal">
              <!-- <fieldset> -->

              <!-- Form Name -->
              <legend style="text-align:center;">Add New Movies</legend>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="movieID">ID</label>
                <div class="col-md-4">
                <input id="movieID" formControlName="movieID" type="text" placeholder="movie id" class="form-control input-md">
                  <control-messages [control]="movieForm.controls.movieID"></control-messages>
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="movieOrigin">Origin</label>
                <div class="col-md-4">
                <input id="movieOrigin" formControlName="movieOrigin" type="text" placeholder="hollywood..." class="form-control input-md">
                  <control-messages [control]="movieForm.controls.movieOrigin"></control-messages>
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="language">Language</label>
                <div class="col-md-4">
                <input id="language" formControlName="language" type="text" placeholder="language" class="form-control input-md">
                  <control-messages [control]="movieForm.controls.language"></control-messages>
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="name">Name</label>
                <div class="col-md-4">
                <input id="name" formControlName="name" type="text" placeholder="title" class="form-control input-md">
                  <control-messages [control]="movieForm.controls.name"></control-messages>
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="imgUrl">Img</label>
                <div class="col-md-4">
                <input id="imgUrl" formControlName="imgUrl" type="text" placeholder="image url" class="form-control input-md">
                  <control-messages [control]="movieForm.controls.imgUrl"></control-messages>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label" for="description">Description</label>
                <div class="col-md-4">
                <textarea class="form-control" formControlName="description" placeholder="enter complete description" id="description" rows="3"></textarea>
                  <control-messages [control]="movieForm.controls.description"></control-messages>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label" for="duration">Duration</label>
                <div class="col-md-4">
                <input id="duration" formControlName="duration" type="text" placeholder="running time" class="form-control input-md">
                  <control-messages [control]="movieForm.controls.duration"></control-messages>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label" for="genre">Genre</label>
                <div class="col-md-4">
                <input id="genre" formControlName="genre" type="text" placeholder="category" class="form-control input-md">
                  <control-messages [control]="movieForm.controls.genre"></control-messages>
                </div>
              </div>

              <!-- Button (Double) -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="button1id"></label>
                <div class="col-md-8">
                  <button id="button1id" (click)="saveMovie()" type="submit" [disabled]="!movieForm.valid" tabindex="7" class="btn btn-success">CREATE</button>
                  <button id="button2id" name="button2id" class="btn btn-danger">CANCEL</button>
                </div>

              </div>
              <div>
                  <h3 style="margin-left:32%;" class="col-md-4" >{{successMsg}}</h3>
              </div>

              <!-- </fieldset> -->
              </form>





						</div>
						<div id="addTvShow" class="tab-pane" id="tab_default_2">



              <form [formGroup]="showForm" class="form-horizontal">
              <!-- <fieldset> -->

              <!-- Form Name -->
              <legend style="text-align:center;">Add Tv Shows</legend>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="movieID">ID</label>
                <div class="col-md-4">
                <input id="showID" formControlName="showID" type="text" placeholder="show id" class="form-control input-md" required="">
                <control-messages [control]="showForm.controls.showID"></control-messages>
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="movieOrigin">Origin</label>
                <div class="col-md-4">
                <input id="showOrigin" formControlName="showOrigin" type="text" placeholder="hollywood..." class="form-control input-md" required="">
                <control-messages [control]="showForm.controls.showOrigin"></control-messages>
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="language">Language</label>
                <div class="col-md-4">
                <input id="language" formControlName="language" type="text" placeholder="language" class="form-control input-md" required="">
                    <control-messages [control]="showForm.controls.language"></control-messages>
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="name">Name</label>
                <div class="col-md-4">
                <input id="name" formControlName="name" type="text" placeholder="title" class="form-control input-md" required="">
                <control-messages [control]="showForm.controls.name"></control-messages>
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="imgUrl">Img</label>
                <div class="col-md-4">
                <input id="imgUrl" formControlName="imgUrl" type="text" placeholder="image url" class="form-control input-md" required="">
                <control-messages [control]="showForm.controls.imgUrl"></control-messages>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label" for="VILLAGECODE">Description</label>
                <div class="col-md-4">
              <textarea class="form-control" formControlName="description" placeholder="enter complete description" id="description" rows="3"></textarea>
              <control-messages [control]="showForm.controls.description"></control-messages>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label" for="duration">Duration</label>
                <div class="col-md-4">
                <input id="duration" formControlName="duration" type="text" placeholder="running time" class="form-control input-md" required="">
                <control-messages [control]="showForm.controls.duration"></control-messages>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label" for="genre">Genre</label>
                <div class="col-md-4">
                <input id="genre" formControlName="genre" type="text" placeholder="category" class="form-control input-md" required="">
                <control-messages [control]="showForm.controls.genre"></control-messages>
                </div>
              </div>

              <!-- Button (Double) -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="button1id"></label>
                <div class="col-md-8">
                  <button id="button1id" (click)="saveTvShow()" type="submit" [disabled]="!showForm.valid" tabindex="7" class="btn btn-success">CREATE</button>
                  <button id="button2id" name="button2id" class="btn btn-danger">CANCEL</button>
                </div>
              </div>
              <!-- </fieldset> -->

              </form>
              <div>
                  <h3 style="margin-left:32%;" class="col-md-4">{{successMsg}}</h3>
                  <!-- <h3>Hello</h3> -->
                  <!-- <h3 style="margin-left:32%;" class="col-md-4">{{showMsg}}</h3> -->
              </div>


						</div>
					</div>
				</div>
			</div>
