<div class="container-fluid" id="background">

<div style="background-color:white;margin-left:30%;margin-top:10%;margin-bottom:20%;width:40%;" class="container">
    <h1 style="color:grey;">{{showInfoDetails.name}}</h1>
    <img src={{showInfoDetails.imgUrl}}>
    <h1 style="color:grey;">{{showInfoDetails.language}}</h1>
    <!-- <h1 style="color:white;">{{showInfoDetails.description}}</h1> -->
    <h1 style="color:grey;">{{showInfoDetails.duration}}</h1>
    <h1 style="color:grey;">{{showInfoDetails.genre}}</h1>
    <h1 style="color:grey;">{{showInfoDetails.description}}</h1>
</div>

</div>
